@use "./resets.scss";
@use "./variables.scss";

.main {
  .navbar {
    background: url("../assets/images/navbar-bg.jpg") no-repeat center/cover;
    background-position: 100% 5%;
    .upper-nav {
      @include resets.DisplayFlex;
      justify-content: start;
      gap: 15px;
      width: 96%;
      margin: auto;
      .location-btn {
        background-color: transparent;
        border: none;
        @include resets.DisplayFlex;
        gap: 5px;
        b {
          color: rgba(255, 255, 255, 0.6);
        }
      }
      .currency-modal {
        @include resets.CurrencyModal;
        position: relative;
        .modal-cur {
          background-color: #fff;
          position: absolute;
          z-index: 999;
          left: 25%;
          width: 310px;
          border-radius: 10px;
          padding: 10px;
          img {
            width: 50px;
            height: 50px;
            object-fit: contain;
          }
        }
      }
      .location-modal {
        .modal-loc {
          border: 1px solid #000;
          position: absolute;
          z-index: 999;
          width: 100%;
          height: 100vh;
          left: 0;
          top: 0;
          background-color: #fff;
          .left-loc {
            width: 30%;
            height: 100%;
            h3 {
              padding: 15px;
            }
            .loc-button {
              width: 92%;
              margin: auto;
              display: flex;
              gap: 10px;
              justify-content: space-between;
              button {
                font-size: 16px;
                line-height: 22px;
                padding: 10px 20px;
                border: none;
                width: 45%;
                background-color: #fff;
                box-shadow: 1px 1px 1px 1px black;
                border-radius: 5px;
              }
            }
          }
          .right-loc {
            width: 70%;
            height: 100%;
            position: relative;
            .exit {
              position: absolute;
              right: 3%;
              top: 5%;
              border: none;
              padding: 10px 20px;
              background-color: #fff;
              border-radius: 5px;
            }
          }
        }
      }
      .sell-wildberries {
        padding: 5px 15px 3px;
        background: #cb11ab linear-gradient(90deg, #bf5ae0 0, #a811da 100%);
        border-radius: 40px;
        border: none;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
      .work-wildberries {
        color: #fff;
        padding: 5px 12px 3px;
        background-color: #ff636d;
        background-image: linear-gradient(
          90.4deg,
          #ff636d 0.17%,
          #f88245 57.13%,
          #f3a720 103.22%
        );
        border-radius: 40px;
        border: none;
      }
    }
    .lower-nav {
      width: 96%;
      margin: 17px auto;
      @include resets.DisplayFlex;
      justify-content: space-around;
      .menu-nav {
        border: 1px solid #000;
        width: 50px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 8px;
        &:hover {
          border: 1px solid #fff;
        }
        .menu-dots {
          @include resets.MenuDot;
        }
      }
      .sub-drawer {
        border: 1px solid #000;
        width: 300px;
        background-color: #fff;
        height:1280px;
        left: 19%;
        z-index: 3;
      }
      .logo {
        img {
          @include resets.LogoNav;
        }
      }
      .input-nav {
        width: 800px;
        position: relative;
        input {
          font-size: 18px;
          line-height: 24px;
          width: 100%;
          border: none;
          outline: none;
          padding: 16px 120px 16px 44px;
          margin: 0;
          border-radius: 56px;
          background: rgba(255, 255, 255, 0.2);
          cursor: pointer;
          -webkit-appearance: none;
          appearance: none;
          &::placeholder {
            color: rgba(183, 171, 171, 0.875);
          }
        }
        .search {
          position: absolute;
          top: 33%;
          left: 1.6%;
          color: rgba(183, 171, 171, 0.875);
          font-size: 20px;
        }
        .camera {
          position: absolute;
          top: 30%;
          right: 2.5%;
          color: rgba(183, 171, 171, 0.875);
          font-size: 22px;
        }
      }
      .three-menu {
        @include resets.DisplayFlex;
        gap: 35px;
        margin-top: 8px;
        text-align: center;
        div {
          &:hover {
            cursor: pointer;
          }
        }
        p {
          margin: 5px 0;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
    .res-main-nav {
      display: variables.$none;
    }
  }

  .center {
    background-color: #f6f6f9;
    .center-carousel {
      width: 94%;
      margin: 22px auto;
      .carousel {
        border-radius: 20px;
        object-fit: cover;
      }
    }
    .wrapper {
      width: 94%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      position: relative;
      gap: 58px;
      margin: auto;
      .center-card {
        overflow: hidden;
        width: 13.2%;
        margin: 20px 0;
        cursor: pointer;
        transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
        &:hover {
          border: 10px solid #fff;
          border-radius: 10px;
          box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
        }
        .img-wrp {
          width: 100%;
          border-radius: 5px;
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
          padding: 5px;
          img {
            width: 100%;
            border-radius: 5px;
          }
          .fast-look {
            font-size: 14px;
            line-height: 20px;
            color: #242424;
            white-space: nowrap;
            padding: 8px;
            border: none;
            backdrop-filter: blur(20px);
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
            transition: background-color 0.3s ease 0s;
          }
        }
        .price {
          font-weight: 800;
          font-size: 18px;
        }
        .product-name {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: grey;
          font-weight: 400;
          span {
            font-weight: 600;
            color: #000;
          }
        }
        .rate {
          @include resets.DisplayFlex;
          justify-content: start;
          .star-rate {
            span {
              .star {
                color: rgba(235, 164, 42, 0.656);
              }
            }
          }
          .number-rate {
            margin-left: 5px;
          }
        }
        .delivery {
          span {
            color: grey;
          }
        }
        .to-cart {
          background-color: #cb11ab;
          border: none;
          border-radius: 5px;
          padding: 6px 20px;
          color: #fff;
          margin-bottom: 10px;
        }
      }
    }
    .addedCarts {
      width: 95%;
      margin: auto;
      .added-wrapper {
        display: flex;
        justify-content: space-around;
        padding: 27px 0;
        flex-wrap: wrap;
        .empty-cart {
          text-align: center;
          background-color: #fff;
          width: 95%;
          border-radius: 20px;
          padding: 65px;
          p {
            width: 28%;
            margin: auto;
            font-size: 16px;
            line-height: 22px;
            color: #868695;
            max-width: 365px;
            margin-bottom: 24px;
          }
          button {
            font-weight: 600;
            letter-spacing: 0;
            text-decoration: none;
            text-align: center;
            border-radius: 8px;
            border: none;
            background-color: #cb11ab;
            border: 2px solid #cb11ab;
            cursor: pointer;
            color: #fff;
            font-size: 16px;
            line-height: 22px;
            padding: 8px 24px 10px;
          }
        }
        .left-cart {
          width: 70%;
          padding: 24px;
          border-radius: 20px;
          background-color: #fff;
          position: relative;
          li {
            display: flex;
            .added-img {
              width: 120px;
              height: 150px;
              border-radius: 5px;
              box-shadow: 0px 0px 0px 0.2px black;
              object-fit: contain;
            }
            b {
              width: 50%;
              margin-left: 10px;
            }
          }
          .inc-dec {
            width: 89px;
            display: flex;
            justify-content: space-between;
            button {
              width: 32px;
              height: 32px;
              border-radius: 8px;
              background-color: #f1f1f5;
              border: none;
              font-size: 25px;
              @include resets.DisplayFlex;
            }
          }
          .item-price {
            position: absolute;
            right: 5%;
          }
          .price-item {
            position: absolute;
            right: 3%;
            top: 42%;
            gap: 15px;
            display: flex;
            transition: opacity 0.3s ease;
            .cart-icon {
              font-size: 20px;
              color: grey;
              &:hover {
                color: #000;
              }
            }
          }
        }
        .right-cart {
          width: 25%;
          height: 290px;
          position: sticky;
          top: 20%;
          padding: 44px 24px;
          border-radius: 20px;
          background-color: #fff;
          button {
            color: #cb11ab;
            border: none;
            background-color: transparent;
            font-weight: 600;
          }
          .product {
            display: flex;
            justify-content: space-between;
            color: grey;
            margin: 10px 0 15px 0;
          }
          .final {
            display: flex;
            justify-content: space-between;
            span {
              font-weight: 600;
              font-size: 25px;
            }
            b {
              font-size: 25px;
            }
          }
          .order-btn {
            background-color: #cb11ab;
            border: 2px solid #cb11ab;
            color: #fff;
            width: 100%;
            margin: 15px 0;
            border-radius: 5px;
            line-height: 22px;
            padding: 11px 24px 13px;
            padding-right: 5px;
            padding-left: 5px;
          }
          p {
            text-align: center;
            margin-bottom: 10px;
          }
        }
        .method {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          margin-left: 25px;
          p {
            border: none;
            background-color: transparent;
            color: #cb11ab;
          }
          span {
            color: #000;
            font-weight: 600;
          }
          .way-delivery {
            width: 71%;
            border-radius: 20px;
            background-color: #fff;
            padding: 20px;
          }
          .wrp-two {
            display: flex;
            margin: 20px 0;
            width: 72%;
            gap: 40px;
            .way-pay {
              background-color: #fff;
              border-radius: 20px;
              padding: 20px;
            }
            .private {
              background-color: #fff;
              border-radius: 20px;
              padding: 20px;
            }
          }
        }
      }
    }
    .login-page {
      @include resets.DisplayFlex;
      padding: 50px 0;
      .login-card {
        padding: 25px;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        h4 {
          text-align: center;
          font-weight: 700 !important;
        }
        .input-item {
          padding-top: 14px;
          padding-bottom: 15px;
          padding-left: 62px;
          width: 100%;
          background-color: #f1f1f5;
          border: none;
          height: 52px;
          color: #c8c8d1;
          border-radius: 8px;
          margin-top: 10px;
          &:focus {
            outline: none;
          }
        }
        button {
          background-color: #4e1392;
          border: 2px solid #4e1392;
          padding: 12px 24px 14px;
          width: 100%;
          color: #fff;
          margin-top: 20px;
          border-radius: 8px;
        }
        p {
          color: #000;
          margin-top: 24px;
          span {
            color: #868695;
          }
        }
      }
    }
    .address {
      background-color: #fff;
      .address-nav {
        ul {
          @include resets.DisplayFlex;
          justify-content: space-evenly;
          padding: 15px;
          gap: 10px;
          li {
            transition: all 0.2s linear;
            color: grey;
            &:hover {
              box-shadow: 0px 3px 0px 0px #cb11ab;
              cursor: pointer;
              color: #000;
            }
          }
        }
      }
      .carousel-display {
        display: none;
      }
      .orderhow {
        width: 95%;
        margin: auto;
        h4 {
          font-weight: 700;
          margin-top: 20px;
        }
        .inner-left {
          margin-left: 40px;
        }
      }
      .payout {
        width: 95%;
        margin: auto;
        p {
          color: #868695;
          font-size: 23px;
        }
      }
      .delivery {
        width: 95%;
        margin: auto;
        .fast-shipping {
          background: linear-gradient(89.51deg, #e56b31 2.39%, #be3690 99.79%);
          border-radius: 40px;
          min-height: 440px;
          box-sizing: border-box;
          margin-bottom: 52px;
          padding: 44px 68px 68px;
          position: relative;
          color: #fff;
          margin-top: 20px;
          h1 {
            width: 55%;
            font-weight: 700;
          }
          .left-shipping {
            display: flex;
            justify-content: center;
            margin-top: 35px;
            max-width: 70%;
            .free {
              display: flex;
              align-items: start;
              gap: 10px;
              p {
                width: 45%;
              }
            }
            .refresh {
              display: flex;
              align-items: start;
              gap: 10px;
              p {
                width: 65%;
              }
            }
            .box {
              display: flex;
              align-items: start;
              gap: 10px;
              p {
                width: 65%;
              }
            }
          }
          .dron {
            position: absolute;
            right: 5%;
            top: 6%;
          }
          button {
            line-height: 1.1;
            border: none;
            font-weight: bold;
            text-decoration: none;
            box-sizing: border-box;
            border-radius: 8px;
            text-align: center;
            cursor: pointer;
            display: inline-block;
            min-width: 244px;
            letter-spacing: 0;
            color: #ffffff;
            background: rgba(255, 255, 255, 0.2);
            font-size: 18px;
            padding: 16px 25px 15px;
            margin-top: 44px;
            transition: background 0.3s ease;
          }
        }
        .information-delivery {
          margin-bottom: 80px;
          display: flex;
          .address-map {
            box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.75);
            border-radius: 5px;
            width: 40%;
            .section {
              padding: 20px;
              button {
                font-size: 16px;
                line-height: 22px;
                padding: 11px 12px 11px;
                border: none;
                width: 50%;
              }
            }
            .input-button {
              position: absolute;
              left: 40%;
              display: flex;
              box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
              input {
                display: block;
                width: 250px;
                height: 28px;
                padding: 0 2px;
                margin: 0;
                font-size: 13px;
                line-height: 28px;
                background-color: #fff;
                border: none;
                outline: none;
                border-radius: 2px;
                z-index: 9999;
              }
              button {
                border: none;
                background-color: #ffdb4d;
                font-size: 13px;
                line-height: 26px;
                padding: 0 12px;
                border-radius: 3px;
              }
            }
          }
          .map-section {
            width: 60%;
          }
        }
      }
      .return {
        width: 95%;
        margin: auto;
        h5 {
          font-weight: 700;
          margin: 20px 0;
        }
        .bottom-margin {
          margin-bottom: 80px;
        }
      }
      .rulesell {
        width: 95%;
        margin: auto;
        h4 {
          font-weight: 700;
        }
        ul {
          padding: 0;
          li {
            margin: 20px 0;
            span {
              font-weight: 700;
            }
          }
          .margin-bottom {
            margin-bottom: 80px;
          }
        }
      }
      .questions {
        h4 {
          background-color: #f4f4f4;
          width: 200px;
          padding: 2px;
        }
        ul {
          li {
            margin: 10px 0;
          }
        }
      }
    }
    .work {
      width: 95%;
      padding: 80px;
      margin: auto;
      .work-bg {
        position: relative;
        padding: 56px 56px 74px;
        border-radius: 32px;
        height: 350px;
        background-image: linear-gradient(90deg, #ff5f6d 0%, #fff16f 100%);
        h1 {
          width: 40%;
          color: #fff;
          font-weight: 700;
        }
        img {
          position: absolute;
          top: -4%;
          right: 3%;
          width: 400px;
          height: 400px;
        }
        .work-buttons {
          margin: 60px 0;
          display: flex;
          gap: 15px;
          button {
            color: #000000;
            font-weight: 600;
            background-color: #fbe75b;
            padding: 14px 20px;
            border: none;
            border-radius: 5px;
          }
        }
      }
      h1 {
        margin: 40px 0;
        font-weight: 700;
      }
      .what-to-do {
        background-color: #fff;
        position: relative;
        padding: 45px;
        border-radius: 16px;
        div {
          li {
            margin: 10px 8px;
            font-weight: 500;
            color: grey;
            font-size: 18px;
          }
        }
        img {
          width: 300px;
          height: 300px;
          position: absolute;
          top: -30%;
          object-fit: contain;
          right: 10%;
        }
      }
      .two-work {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 25px 0;
        h3 {
          font-weight: 700;
        }
        div {
          li {
            margin: 10px 8px;
            font-weight: 500;
            color: grey;
            font-size: 15px;
          }
        }
        .expect {
          background-color: #fff;
          padding: 20px;
          width: 49%;
          border-radius: 5px;
        }
        .advice {
          background-color: #fff;
          padding: 20px;
          width: 49%;
          border-radius: 5px;
        }
      }
      .download-work {
        justify-content: center;
        padding: 36px;
        margin-top: 56px;
        border-radius: 24px;
        background-image: linear-gradient(90deg, #ff5f6d 0%, #ffca6f 100%);
        background-color: #ff5f6d;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        h2 {
          font-weight: 700;
        }
        .down-buttons {
          display: flex;
          gap: 25px;
        }
      }
      .start-work {
        text-align: center;
        h1 {
          margin: 40px 0;
        }
        .start-cards {
          display: flex;
          gap: 10px;
          justify-content: space-between;
          .start-card {
            width: 30%;
            h4 {
              margin: 15px 0;
              font-weight: 700;
            }
            p {
              font-size: 20px;
            }
          }
        }
      }
      .yuridik {
        padding: 38px 12px;
        font-size: 18px;
        line-height: 24px;
        margin: 30px 0;
        text-align: center;
        background-color: #fef9dd;
        border-radius: 16px;
        width: 100%;
      }
      .delivery-cards {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        text-align: center;
        .delivery-card {
          width: 28%;
          img {
            width: 100%;
          }
          h4 {
            font-weight: 700;
            margin: 15px 0;
          }
          p {
            font-size: 20px;
          }
        }
      }
      .complex-work {
        margin: 25px 0;
        text-align: center;
        .complex-cards {
          display: flex;
          justify-content: space-evenly;
          .complex-card {
            margin: 20px 0;
            h4 {
              font-weight: 700;
              margin: 19px auto;
              width: 70%;
            }
          }
        }
      }
      .fast-work {
        background-color: #f2f2f2;
        border-radius: 16px;
        padding: 50px;
        h2 {
          font-weight: 700;
          font-size: 38px;
        }
        .fast-cards {
          display: flex;
          justify-content: space-between;
          .fast-card {
            margin: 15px 0;
            width: 28%;
            div {
              font-weight: bold;
              text-align: center;
              width: 50px;
              height: 50px;
              @include resets.DisplayFlex;
              font-size: 24px;
              color: #ffffff;
              padding: 4px 3px 6px;
              margin-bottom: 8px;
              border-radius: 50%;
              background-color: #ff5f6d;
            }
            h4 {
              font-weight: 700;
              margin: 15px 0;
            }
            p {
              width: 80%;
              color: #7c7b7a;
            }
          }
        }
      }
    }
  }

  .footer {
    color: #fff;
    background-color: #481173;
    height: auto;
    padding: 30px 0 0 0;
    li {
      list-style: none;
      font-size: 18px;
      line-height: 24px;
      cursor: pointer;
      padding: 0;
      color: rgba(255, 255, 255, 0.7);
      margin: 15px 0;
    }
    .footer-links {
      @include resets.DisplayFlex;
      justify-content: space-around;
      align-items: start;
      .app-store {
        .download-app {
          border: 2px solid rgba(255, 255, 255, 0.1);
          border-radius: 16px;
          padding: 16px;
          text-align: center;
          max-width: 232px;
          margin-top: 20px;
          img {
            width: 135px;
            height: 135px;
            border-radius: 10px;
          }
          p {
            margin: 10px 0;
          }
          .social-icons {
            display: flex;
            justify-content: space-between;
            .social-icon {
              width: 44px;
              height: 44px;
              border-radius: 8px;
              background-color: #000;
              @include resets.DisplayFlex;
              font-size: 0;
              line-height: 0;
              transition: background-color 0.3s ease 0s;
              img {
                object-fit: contain;
                width: 50%;
                height: 50%;
              }
            }
          }
        }
      }
      .two-ul {
        .projects {
          margin-top: 30px;
        }
      }
    }
    .footer-divider {
      display: variables.$none;
    }
    .nav-social {
      display: variables.$none;
    }
    .footer-copyright {
      width: 80%;
      margin-left: 70px;
      margin-top: 10px;
      p {
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.6);
      }
    }
    .footer-icons {
      @include resets.DisplayFlex;
      justify-content: space-between;
      padding: 16px;
      .up {
        @include resets.FooterIcons;
        .up-arrow {
          color: #fff;
        }
      }
      .chat {
        @include resets.FooterIcons;
      }
    }
    .footer-menu {
      display: variables.$none;
    }
  }
}

@media only screen and (max-width: 420px) {
  .main {
    .navbar {
      .upper-nav {
        display: variables.$none;
      }
      .lower-nav {
        display: variables.$none;
      }
      .res-main-nav {
        display: variables.$flex;
        align-items: center;
        .res-logo {
          padding: 5px;
          img {
            width: 66%;
            margin-left: 10px;
            object-fit: contain;
          }
        }
        .currency-modal {
          @include resets.CurrencyModal;
          margin-right: 10px;
        }
        .nav-search {
          @include resets.DisplayFlex;
          gap: 20px;
          margin-right: 20px;

          .search {
            color: #fff;
            font-size: 20px;
          }
        }
      }
    }

    .center {
      .prev {
        position: absolute;
        top: 20% !important;
      }
      .center-carousel {
        .carousel {
          height: 150px;
        }
      }
      .wrapper {
        width: 100%;
        flex-wrap: wrap;
        .center-card {
          width: 100%;
          margin: 15px auto;
        }
      }
      .address {
        .address-nav {
          display: none;
        }
        .carousel-display {
          display: flex;
          border: 1px solid #000;
        }
        .orderhow {
          img {
            width: 100%;
          }
          .inner-left {
            margin: 0;
          }
        }
      }
      .addedCarts {
        .added-wrapper {
          flex-direction: column;
          .empty-cart {
            width: 100%;
            p {
              width: 100%;
            }
          }
          .left-cart {
            width: 100%;
            height: 200px;
            position: relative;
            li {
              .added-img {
                width: 40px;
                height: 60px;
              }
              b {
                font-size: 10px;
              }
              .inc-dec {
                position: absolute;
                bottom: 5%;
              }
              .price-item {
                position: absolute;
                right: 5%;
                bottom: -30%;
              }
            }
          }
          .right-cart {
            position: static;
            width: 100%;
          }
          .method {
            margin: 0;
            .way-delivery {
              width: 100%;
            }
            .wrp-two {
              flex-direction: column;
              width: 100%;
              .way-pay {
                width: 100%;
              }
              .private {
                width: 100%;
              }
            }
          }
        }
      }
      .next {
        position: absolute;
        top: 20% !important;
      }
      .work {
        display: none;
      }
    }

    .footer {
      position: relative;
      .footer-links {
        display: variables.$none;
      }
      .footer-divider {
        display: variables.$flex;
        flex-wrap: wrap;
        margin-top: 25px;
        gap: 10px;
      }
      .nav-social {
        display: variables.$flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
        img {
          width: 150px;
          height: 55px;
          object-fit: contain;
        }
      }
      .footer-copyright {
        margin: 0 auto;
        width: 90%;
      }
      .footer-icons {
        position: fixed;
        width: 100%;
        bottom: 7%;
        .up {
          display: variables.$none;
        }
      }
      .footer-menu {
        display: variables.$flex;
        justify-content: space-around;
        padding: 14px;
        position: fixed;
        bottom: 0;
        z-index: 999;
        background-color: #fff;
        width: 100%;
        .menu-icon {
          color: #000;
          font-size: 24px;
          width: 25%;
          @include resets.DisplayFlex;
          color: grey;
        }
      }
    }
  }
}
